html{
	background-color: #1e2334;
	color: white;
	flex: all;
	
}
li{
	list-style-type: none; 
	display: inline-block;
	float: left;
	padding-left: 14px;
	margin-left: 294px;
	


	

}
img.ban{
	position: relative;
		left: 294px; bottom: 375px;

}
div header nav ul li a{
	color: white;
	position: relative;
		top: 0px;
}
body div header #logo{
	padding-left: 5px;
}
#logo{
	float: left;

}
body div#par{
	 
	


}
div #ban {
	
}
p{
	color: white;
	border: 3px solid green;
	padding: 15px;
	margin: 14px;
	text-align: justify-all;
	clear: all;
	text-align: center;
	font-size: 24px;
	position: relative;
		bottom: 344px;
}
